/*
 * barekat Genomics Nextflow configuration
 * Profiles: standard (local), k8s, awsbatch
 */

manifest {
    name        = 'barekat-genomics'
    author      = 'barekat'
    description = 'Pharmacogenomic analysis pipeline'
    version     = '0.1.0'
}

params {
    input        = ''
    file_type    = 'BAM'
    genome_build = 'GRCh38'
    job_id       = 'local'
    outdir       = './results'
}

process {
    cpus   = 4
    memory = '8 GB'
    time   = '4h'
    errorStrategy = 'retry'
    maxRetries    = 2
}

profiles {
    standard {
        process.executor = 'local'
    }

    k8s {
        process.executor = 'k8s'
        k8s {
            storageClaimName = 'barekat-pvc'
            namespace        = 'barekat'
        }
    }

    awsbatch {
        process.executor = 'awsbatch'
        aws {
            region = 'eu-central-1'
            batch {
                jobQueue = 'barekat-genomics-queue'
            }
        }
    }
}
